body {
    background: url('../img/diyarbakir.jpg') no-repeat center center fixed; /* Burası güncellendi */
    background-size: cover;
    position: relative;
    color: #fff;
    font-family: 'Poppins', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin: 0;
    overflow: hidden;
}

body::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.75); 
    z-index: -1;
}

.container {
    text-align: center;
    max-width: 600px;
    padding: 20px;
    opacity: 0;
    animation: fadeIn 1.5s forwards;
}

@keyframes fadeIn {
    to { opacity: 1; }
}

.coming-soon-text {
    font-size: 1.5em;
    font-weight: 300;
    letter-spacing: 2px;
    color: #8b0000; 
    text-shadow: 0 0 5px #8b0000, 0 0 10px #8b0000;
    animation: brokenLight 2.5s infinite;
}

@keyframes brokenLight {
    0% { opacity: 1; }
    5% { opacity: 0.2; }
    10% { opacity: 1; }
    15% { opacity: 0.5; }
    20% { opacity: 1; }
    30% { opacity: 0.1; }
    35% { opacity: 1; }
    40% { opacity: 0.7; }
    45% { opacity: 1; }
    50% { opacity: 0.3; }
    55% { opacity: 1; }
    60% { opacity: 0.6; }
    65% { opacity: 1; }
    70% { opacity: 0.4; }
    75% { opacity: 1; }
    100% { opacity: 1; }
}